@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$primary-color: rgba(13, 62, 16, 1);
$secondary-color: rgba(3, 34, 2, 1);
$tertiary-color: rgba(54, 148, 87, 1);

// Breakpoints
$small-breakpoint: 480px;
$medium-breakpoint: 768px;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	background: $primary-color;
	background: radial-gradient(
		circle,
		$primary-color 0%,
		$secondary-color 75%
	);
	min-height: 100vh;
	border-top: 8px solid $tertiary-color;
}

.app-header {
	text-align: center;
	padding: 2rem 0;
	margin-bottom: 1rem;

	img {
		max-width: 250px;
		height: auto;
	}
}

.form {
	display: flex;
	flex-direction: column;
	max-width: 480px;
	margin: auto;
	padding: 0 2rem;

	@media (min-width: $medium-breakpoint) {
		flex-direction: row;
	}

	input {
		font-family: 'Roboto', sans-serif;
		display: inline-block;
		padding: 1rem;
		border: none;
		border-radius: 0;
		font-size: 1.2rem;
		outline: none;
		-webkit-appearance: none;
		appearance: none;
		-webkit-box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 8px 14px 0px rgba(0, 0, 0, 0.3);

		&:not(:last-child) {
			margin-right: 3px;
		}
	}

	.form-input {
		width: 100%;
		border: 1px solid $tertiary-color;
		margin-bottom: 5px;

		@media (min-width: $medium-breakpoint) {
			margin-bottom: 0;
		}
	}

	.form-submit {
		background-color: $tertiary-color;
		color: #fff;
		cursor: pointer;
		transition: background-color 0.2s ease-in;
		border: 1px solid transparent;

		&:hover {
			background-color: darken($tertiary-color, 15%);
		}
	}
}

.cards {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
	max-width: 800px;
	margin: 4rem auto;
	padding: 0 2rem;

	@media (min-width: $small-breakpoint) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (min-width: $medium-breakpoint) {
		grid-template-columns: repeat(3, 1fr);
	}

	.card {
		&-container {
			min-height: 300px;
			background-color: transparent;
			perspective: 1000px;

			&:hover .card-inner {
				transform: rotateY(180deg);
			}
		}

		&-inner {
			position: relative;
			width: 100%;
			height: 100%;
			text-align: center;
			transition: transform 0.8s;
			transform-style: preserve-3d;
		}

		&-front,
		&-back {
			position: absolute;
			width: 100%;
			height: 100%;
			backface-visibility: hidden;
		}

		&-front {
			background-color: $primary-color;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top;
			}
		}

		&-back {
			background-color: $primary-color;
			transform: rotateY(180deg);
			color: #fff;
			padding: 1rem;

			h3 {
				font-size: 1.2rem;
				margin-bottom: 5px;
			}

			ul {
				margin-top: 1rem;

				li {
					list-style-type: none;
					padding: 0.5rem 1rem;
					text-align: left;

					&:nth-child(odd) {
						background-color: $secondary-color;
					}

					&:nth-child(even) {
						background-color: $tertiary-color;
					}
				}
			}
		}
	}
}

.loader {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
	display: flex;
	align-items: center;
	justify-content: center;

	.spinner {
		&-outer {
			position: relative;
			width: 100px;
			height: 100px;
			background: transparent;
			border-radius: 50%;
			border: 10px solid #fff;
			border-bottom-color: $primary-color;
			animation: spin 1s linear infinite;
		}
	}

	@keyframes spin {
		100% {
			transform: rotate(360deg);
		}
	}
}
